@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #f8fae5 !important;
  color: #fb8b24 !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

@media screen and (max-width: 1000px) {
  .Introduction h1 {
    font-size: 2em;
  }

  .Introduction p {
    width: 100%;
    font-size: 1.1rem;
    margin: 1em 0;
  }

  .Introduction h2 span {
    font-size: 1em;
  }

  nav {
    background-color: #c69774;
  }

  nav.navbar.scrolled {
    background-color: #c69774;
  }

  .project-container-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .banner {
    padding: 270px 0 100px 0;
  }

  .skill-bx {
    background-color: transparent;
    -webkit-box-shadow: 1px 10px 15px transparent;
    -moz-box-shadow: 1px 10px 15px transparent;
    box-shadow: 1px 10px 15px transparent;
  }

  .background-image-left {
    top: 82%;
    width: 180px;
  }

  .certificate-item .certif-img {
    height: 100%;
  }

  .about img {
    animation: none;
    margin-top: 20px;
    width: 320px;
  }

  .my-experience .company-logo img {
    height: 260px;
  }

  .social-icon {
    display: none;
  }

  .ach-experience .company-logo img {
    height: 100%;
  }
}
